.slider {
    &>img:first-of-type {
        margin-left: 87px;
    }

    position: relative;
}

.slider__item {
    margin-right: 30px;
    width: 235px;
    height: 302px;
    object-fit: cover;
    border-radius: 35px;
    transition: all 0.4s ease-in;
    box-shadow: 2px 9px 20px 0px rgba(34, 60, 80, 0.2);


    &:hover {
        transition: all 0.2s ease-in;
        width: 280px;
        height: 356px;
        cursor: pointer;
        margin: 0;
    }
}

// slider button 

.slider__btn {


    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;

    display: flex;
    align-items: center;

    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
}

.slider__btn--prev {
    padding-left: 26px;
    justify-content: flex-start;

    position: absolute;
    top: 36%;
    transform: translateY(-50%);

}

.slider__btn--next {
    position: absolute;
    right: 3px;
    top: 36%;
    transform: translateY(-50%);

    padding-right: 26px;
    justify-content: flex-end;
}