.cta {
    padding: 100px 0;
}

.cta__plate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 580px;
    padding: 40px 15px;

    background-color: #fff;
    border-radius: 60px;
}

.cta__title {}

.cta__text {}

.cta__button {}