.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}


.nav__list {
    display: flex;
    grid-gap: 80px;
    font-size: 15px;
    font-weight: 500;

    a {position: relative;}

    a.active::after,
    a:hover::after {
        content: "";
        // width: 35px;
        height: 4px;
        background-color: #C4C4C4;
        border-radius: 50px;
        position: absolute;
        bottom: -6px;
        right: 10px;
        left: 0;
    }
}
.nav__login {
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500px;

}

.logo {
    font-size: 20px;
    color: #fff;
    font-weight: 700;

    a {
        color: inherit;
    }
}