.customers {
    padding: 100px 0 133px;
}

.customers__row {
    display: flex;
    justify-content: space-between;
    column-gap: 68px;
}

.customers__img {
    margin-left: 60px;
    max-width: 478px;

    img {
        border-radius: 60px;
    }
}


.customers__title {
    max-width: 565px;
    margin-bottom: 35px;
    font-size: 45px;
    font-weight: 500;
}

// Review

.review {
    max-width: 498px;
    margin-right: 120px;
}

.review__client {
    display: flex;
    align-items: center;
    column-gap: 33px;
    margin-bottom: 60px;

}

.review__client-avatar {
    overflow: hidden;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: #FF794e;
}


.review__client-desc-name {
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: 500;
}

.review__client-desc-country {
    font-size: 25px;
    color: $--secondary;
}

.review__text {
    margin-bottom: 30px;
    color: $--secondary;
    font-size: 22px;
    font-weight: 500;
}